  <body>
      <link rel="stylesheet" href="{{asset('menu_course/style.css')}}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <!-- Hero Section -->
    <section class="hero-section">
      <div class="hero-container">
        <h1>A year of learning — for less</h1>
        <p>
          Working on career skills? Save big on our professional-learning
          subscription when you pay annually. <a href="#">Find out more.</a>
        </p>
      </div>
    </section>
{{ dump(User) }}
    <!-- Courses Section -->
    {% if User is not empty %}
    <section class="courses-sec">
      <h1>My Learning</h1>
        
        {%if User['Courses'] is defined%}

      <div class="course-links">
        
        {%if User['Courses'] is iterable%}
        {% for course in  User['Courses'] %}
          <a href="#">{{course['Categorie']}}</a>
        {% endfor %}
      </div>


      <div class="career-opportunities">
        <div>
          <button class="career-btn">Explore {{User['Courses'][0]['Categorie']}}</button>
        </div>

        <div class="explore-python">
        {% for Course in User['Courses'] %}
            <div>
                <img src="{{asset(Course['Thumbnail'])}}" alt="" />
                <h3>{{Course['Title']}}</h3>
                <h4>{{Course['owner']}}</h4>
                <p>
                  4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i
                  ><i class="fa fa-star"></i><i class="fa fa-star"></i
                  ><i class="fa fa-star-half-o"></i> <span>(4,253)</span>
                </p>
                <h3>$94.99</h3>
                <button style="border-radius:10vh">Bestseller</button>
          </div>
        {% endfor %}
        </div>
      </div>
              {% endif %}
              {% else %}
              none
              {% endif %}
    </section>
    {% endif %}

    <!-- Goals Section -->
    <section class="goals">
      <h2>How learners like you are achieving their goals</h2>
      <div class="container">
        <div class="box">
          <img src="{{asset('menu_course/img/quote.svg.png')}}" alt="" />
          <p>
            I am proud to say that after a few months of taking this course...I
            passed my exam and am now an AWS Certified Cloud Practitioner! This
            content was exactly what the CCP exam covered.
          </p>
          <div class="learners"><img src="{{asset('menu_course/img/WA.png')}}" alt="#" />Will A</div>
          <hr />
          <div class="play">
            <img src="{{asset('menu_course/img/play.png')}}" alt="#" /><a href="#"
              >[NEW] Ultimate AWS Certified Cloud Practitioner - 2022</a
            >
          </div>
        </div>

        <div class="box">
          <img src="{{asset('menu_course/img/quote.svg.png')}}" alt="" />
          <p>
            This course helped me freshen up on my product manager skills and
            land a job at Facebook! Thanks guys :)
          </p>
          <br />
          <br />
          <div class="learners"><img src="{{asset('menu_course/img/RF.png')}}" alt="#" />Ron F</div>
          <hr />
          <div class="play">
            <img src="{{asset('menu_course/img/play.png')}}" alt="#" /><a href="#"
              >Become a Product Manager | Learn the Skills & Get the Job</a
            >
          </div>
        </div>

        <div class="box">
          <img src="{{asset('menu_course/img/quote.svg.png')}}" alt="" />
          <p>
            One of the best courses on management and leadership I have come
            across so far. The advice is practical, and examples highly
            relatable. Would help anyone become a better manager.
          </p>
          <div class="learners"><img src="{{asset('menu_course/img/PW.png')}}" alt="#" />Phillip W</div>
          <hr />
          <div class="play">
            <img src="{{asset('menu_course/img/play.png')}}" alt="#" /><a href="#"
              >Leadership: Practical Leadership Skills</a
            >
          </div>
        </div>
      </div>
    </section>


    <!-- Purchasable Courses Section -->
    <section class="courses-sec">
      <h1>A broad selection of courses</h1>
      <p>
        Choose from 213,000 online video courses with new additions published
        every month
      </p>
      <div class="course-links">
        <a href="#">Python</a>
        <a href="#">Excel</a>
        <a href="#">Web Development</a>
        <a href="#">JavaScript</a>
        <a href="#">Data Science</a>
        <a href="#">AWS Certification</a>
        <a href="#">Drawing</a>
      </div>

      <div class="career-opportunities">
        <div>
          <h2>Expand your career opportunities with Python</h2>
          <p>
            Take one of Edunet’s range of Python courses and learn how to code
            using this incredibly useful language. Its simple syntax and
            readability makes Python perfect for Flask, Django, data science,
            and machine learning. You’ll learn how to build everything from
            games to sites to apps. Choose from a range of courses that will
            appeal to both beginners and advanced developers alike.
          </p>
          <button class="career-btn">Explore Python</button>
        </div>

        <div class="explore-python">
          <div>
            <img src="{{asset('menu_course/img/course-img1.png')}}" alt="" />
            <h3>Learn Python: The Complete Python Programming Course</h3>
            <h4>Avinash Jain, The Codex</h4>
            <p>
              4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i
              ><i class="fa fa-star"></i><i class="fa fa-star"></i
              ><i class="fa fa-star-half-o"></i> <span>(4,253)</span>
            </p>
            <h3>$94.99</h3>
          </div>

          <div>
            <img src="{{asset('menu_course/img/course-img2.png')}}" alt="" />
            <h3>Learning Python for Data Analysis and Visualization Ver 1</h3>
            <h4>Jose Portilla</h4>
            <p>
              4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i
              ><i class="fa fa-star"></i><i class="fa fa-star"></i
              ><i class="fa fa-star-half-o"></i> <span>(18,586)</span>
            </p>
            <h3>$119.99</h3>
            <button>Bestseller</button>
          </div>

          <div>
            <img src="{{asset('menu_course/img/course-img3.png')}}" alt="" />
            <h3>Python for Beginners - Learn Programming from scratch</h3>
            <h4>Edwin Diaz, Coding Faculty Solutions</h4>
            <p>
              4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i
              ><i class="fa fa-star"></i><i class="fa fa-star"></i
              ><i class="fa fa-star-half-o"></i> <span>(2,350)</span>
            </p>
            <h3>$84.99</h3>
          </div>

          <div>
            <img src="{{asset('menu_course/img/course-img4.png')}}" alt="" />
            <h3>Learn Python: Python for Beginners</h3>
            <h4>Abrar Hussain</h4>
            <p>
              4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i
              ><i class="fa fa-star"></i><i class="fa fa-star"></i
              ><i class="fa fa-star-half-o"></i> <span>(2,822)</span>
            </p>
            <h3>$29.99</h3>
          </div>

          <div>
            <img src="{{asset('menu_course/img/course-img5.png')}}" alt="" />
            <h3>Python From Scratch & Selenium WebDriver QA</h3>
            <h4>Admas Kinfu</h4>
            <p>
              4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i
              ><i class="fa fa-star"></i><i class="fa fa-star"></i
              ><i class="fa fa-star-half-o"></i> <span>(2,323)</span>
            </p>
            <h3>$109.99</h3>
            <button>Bestseller</button>
          </div>
        </div>
      </div>
    </section>



    <!-- Viewing Section -->
    <section class="viewing">
      <h2>Students are viewing</h2>
      <div class="explore-python views">
        <div>
          <img src="{{asset('menu_course/img/course-img6.png')}}" alt="" />
          <h3>The Complete 2023 Web Development Bootcamp</h3>
          <h4>Dr. Angela Yu</h4>
          <p>
            4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i
            ><i class="fa fa-star"></i><i class="fa fa-star"></i
            ><i class="fa fa-star-half-o"></i> <span>(247,955)</span>
          </p>
          <h3>$119.99</h3>
          <button>Bestseller</button>
        </div>

        <div>
          <img src="{{asset('menu_course/img/course-img7.png')}}" alt="" />
          <h3>100 Days of Code: The Complete Python Pro Bootcamp for 2023</h3>
          <h4>Dr. Angela Yu</h4>
          <p>
            4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i
            ><i class="fa fa-star"></i><i class="fa fa-star"></i
            ><i class="fa fa-star-half-o"></i> <span>(162,432)</span>
          </p>
          <h3>$84.99</h3>
          <button>Bestseller</button>
        </div>

        <div>
          <img src="{{asset('menu_course/img/course-img8.png')}}" alt="" />
          <h3>The Complete JavaScript Course 2023: From Zero to Expert!</h3>
          <h4>Jonas Schmedtmann</h4>
          <p>
            4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i
            ><i class="fa fa-star"></i><i class="fa fa-star"></i
            ><i class="fa fa-star-half-o"></i> <span>(161,454)</span>
          </p>
          <h3>$149.99</h3>
          <button>Bestseller</button>
        </div>

        <div>
          <img src="{{asset('menu_course/img/course-img9.png')}}" alt="" />
          <h3>React - The Complete Guide (incl Hooks, React Router, Redux)</h3>
          <h4>Academind by Maximilian Schwarzmüller,</h4>
          <p>
            4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i
            ><i class="fa fa-star"></i><i class="fa fa-star"></i
            ><i class="fa fa-star-half-o"></i> <span>(171,292)</span>
          </p>
          <h3>$129.99</h3>
          <button>Bestseller</button>
        </div>

        <div>
          <img src="{{asset('menu_course/img/course-img10.png')}}" alt="" />
          <h3>Ultimate AWS Certified Solutions Architect Associate</h3>
          <h4>Stephane Maarek | AWS Certified Cloud</h4>
          <p>
            4.3 <i class="fa fa-star"></i><i class="fa fa-star"></i
            ><i class="fa fa-star"></i><i class="fa fa-star"></i
            ><i class="fa fa-star-half-o"></i> <span>(160,038)</span>
          </p>
          <h3>$84.99</h3>
          <button>Bestseller</button>
        </div>
      </div>
    </section>

    <!-- Featured Section -->
    <section class="featured">
      <h2>Featured topics by category</h2>
      <div class="featured-container">
        <div>
          <h3>Development</h3>
          <a href="#">Python</a>
          <p>36,354,994 students</p>
          <a href="#">Web Development</a>
          <p>11,415,615 students</p>
          <a href="#">Machine Learning</a>
          <p>7,070,015 students</p>
          <button>Explore more topics</button>
        </div>

        <div>
          <h3>Business</h3>
          <a href="#">Financial Analysis</a>
          <p>1,195,282 students</p>
          <a href="#">SQL</a>
          <p>5,977,561 students</p>
          <a href="#">PMP</a>
          <p>1,733,398 students</p>
        </div>

        <div>
          <h3>IT and Software</h3>
          <a href="#">AWS Certification</a>
          <p>6,078,244 students</p>
          <a href="#">Ethical Hacking</a>
          <p>10,931,066 students</p>
          <a href="#">Cyber Security</a>
          <p>3,998,037 students</p>
        </div>

        <div>
          <h3>Design</h3>
          <a href="#">Photoshop</a>
          <p>10,909,736 students</p>
          <a href="#">Graphic Design</a>
          <p>3,381,052 students</p>
          <a href="#">Drawing</a>
          <p>2,410,849 students</p>
        </div>
      </div>
    </section>

    <!-- Trust Section -->
    <section class="trust">
      <div class="trust-up">
        <h2>Trusted by over 13,400 great teams</h2>
        <p>
          Leading companies use the same courses to help employees keep their
          skills fresh.
        </p>
      </div>
      <div class="trust-company">
        <img src="{{asset('menu_course/img/nasdaq-dark.svg.png')}}" alt="" />
        <img src="{{asset('menu_course/img/volkswagen-dark.svg.png')}}" alt="" />
        <img src="{{asset('menu_course/img/box-dark.svg.png')}}" alt="" />
        <img src="{{asset('menu_course/img/netapp-dark.svg.png')}}" alt="" />
        <img src="{{asset('menu_course/img/eventbrite-dark.svg.png')}}" alt="" />
        <img src="{{asset('menu_course/img/tcs-dark.svg.png')}}" alt="" />
      </div>
    </section>

    <!-- Business Section -->
    <section class="business">
      <div>
        <img style ="width:30%"src="{{asset('components/header/images/logo.png')}}" alt="" />
        <h2>Upskill your team with Edunet Business</h2>
        <ul>
          <li>
            Unlimited access to 19,000+ top Edunet courses, anytime, anywhere
          </li>
          <li>International course collection in 14 languages</li>
          <li>Top certifications in tech and business</li>
        </ul>
        <button class="black-btn">Get Edunet Business</button>
        <button class="white-btn">Learn more</button>
      </div>

      <div>
        <img src="{{asset('menu_course/img/business-hero-img.png')}}" alt="" />
      </div>
    </section>

    <!-- Instructor Section -->
    <section class="instructor">
      <div class="instructor-img">
        <img src="{{asset('menu_course/img/instructor-1x-v3.jpg.png')}}" alt="" />
      </div>

      <div>
        <h2>Become an instructor</h2>
        <p>
          Instructors from around the world teach millions of students on Edunet.
          We provide the tools and skills to teach what you love.
        </p>
        <button onclick="location.href='{{path('addcourse')}}'" class="black-btn">Start teaching today</button>
      </div>
    </section>

    <!-- Footer Section -->
    <footer>
      <div class="footer-up">
        <div class="footer-nav">
          <div>
            <p><a href="#">Get the app</a></p>
            <p><a href="#">About us</a></p>
            <p><a href="#">Contact us</a></p>
          </div>
          <div>
            <p><a href="#">Careers</a></p>
            <p><a href="#">Blog</a></p>
            <p><a href="#">Help and Support</a></p>
            <p><a href="#">Affiliate</a></p>
            <p><a href="#">Investors</a></p>
          </div>
          <div>
            <p><a href="#">Terms</a></p>
            <p><a href="#">Privacy policy</a></p>
            <p><a href="#">Do not sell or share my personal information</a></p>
            <p><a href="#">Accessibility statement</a></p>
          </div>
        </div>

        <div class="globe">
          <a href="#"><img src="{{asset('menu_course/img/globe.png')}}" alt="" />English</a>
        </div>
      </div>

      <div class="footer-down">
        <div>
          <img style="width:30%"src="{{asset('components/header/images/logo.png')}}" alt="" />
        </div>
        <div>
          <p>© 2023 Edunet, Inc.</p>
        </div>
      </div>
    </footer>

    <script src="{{asset('menu_course/script.js')}}"></script>
  </body>
</html>
